ETHERSCAN_API_KEY=ZRT3ATRQJTQS528GFIKU1PME2AXVIW7G3H
ROPSTEN_URL=https://speedy-nodes-nyc.moralis.io/11f1b0eba1b4edb0ec24f5c9/eth/ropsten
PRIVATE_KEY=<You private key>
MAINNET_URL=https://rpc.flashbots.net

